*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
}
nav{
    justify-content: space-between;
    width: 90%;
    display: flex;
    margin:  3% 5% 0;
    
}
nav ul li{
    display: inline;
    margin: 25px 10px;
    
}
nav ul li a{
    text-decoration: none;
    color: #0000008c;
    font-weight: 700;
}
nav ul li a:hover{
    color: #000000b5;
}
.right-side{
    display: flex;
    
}
.btn{
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    background-color: #0062f2;
    color: white;
    padding: 14px 30px;
    margin-left: 40px;
    
}
.btn:hover{
    background-color: #013e99;
}
#header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90vh;
    
}
 img{
    width: 15%;
    
}
.header-title{
    text-align: center;
    
}
.header-title h2{
    font-size: 40px;
    font-weight: 200;
    padding-top: 15px;
}
.header-title p{
    color: #69707a;
    font-size: 18px;
    padding-top: 15px;
}
.main{
    height: 50vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(242, 246, 252,1);
}
.main-content{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 3%;

}
.item{
    width: 30%;
    text-align: center;
}
.item h2{
    color: #323f52;
    font-size: 1.5rem;
    font-weight: 500;
}
.item p{
    color: #687281;
}
.item i{
    font-size: 60px;
    color: white;
    border-radius: 50%;
}
.la-pen{
    background-color: #e81500;;
}
.la-window-maximize{
    background-color: #f4a100;
}
.la-tint{
    background-color: #0061f2;
}

.main2{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap:3%;
    
}
.main2 .row{
    margin-top: 5%;
    width: 25%;
    text-align: center;
}
.main2 .row img{
    width: 100%;
    border-radius: 8px;
    margin-bottom: 10%;
    box-shadow: 0 0 20px #e6e6e6;
    transition: 0.1s;
}


.container {
    position: relative;
    width: 100%;
  }
  
.container img {
    display: block;
    width: 100%;
    height: auto;
  }
.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #008CBA;
    border-radius: 8px;
  }
  .container:hover .overlay {
    opacity: 0.9;
    cursor: pointer;
  }
  
  .text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}

.main3{
    width: 100%;
    height: 50vh;
    background-color: rgba(242, 246, 252,1);
}
.main3-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.main3-content2{
    display: flex;
    justify-content: center;
    align-items: center;
}
.main3-item{
    text-align: center;
    padding-top: 50px;
}
.main3-item h2{
    color: #363d47;
    font-weight: 500;
}
.main3-item p{
    color: #69707a;
    padding-top: 15px;
    padding-bottom: 15px;
}
.box{
    display: flex;
    
}
.boxs{
    width: 400px;
    height: 150px;
    margin: 20px;
    background-color: white;
    border-radius: 2%;
    box-shadow: 0 0.15rem 1.75rem #21283226;
}
.box-item{
    padding-top: 5%;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.la-envelope{
    background-color: #f76400;
    font-size: 50px;
    border-radius: 50%;
    color: white;
}
.la-mobile{
    background-color: #00ac69;
    font-size: 50px;
    border-radius: 50%;
    color: white;
}
.box-item  p{
    color: #69707a;
    font-size: 17px;
    padding-top: 20px;
}

footer {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 3%;
    background-color: #212832;
}

footer div {
    width: 13%;
    margin-top: 5%;
    margin-bottom: 5%;
}

footer ul {
    list-style: none;
}

footer h2 {
    font-size: 20px;
    color: #a2acba;
    padding-bottom: 8px;
}

footer h3 {
    font-size: 15px;
    color: #a2acba;
    font-weight: 600;
    padding-bottom: 8px;
}

footer li {
    font-size: 15px;
    color: #a2acba;
    font-weight: 400;
    margin: 10px 0;
    cursor: pointer;
}

footer li:hover {
    text-decoration: underline;
}

footer p {
    color: #a2acba;
    padding-bottom: 20px;
}

footer i {
    color: #a2acba;
    font-size: 25px;
    cursor: pointer;
}


.end{
    width: 100%;
    display: flex;
    justify-content: space-around;
    background-color: #212832;
    height: 10vh;
}
.end p, a{
    text-decoration: none;
    color: #a2acba;
}
.end a:hover{
    border-bottom: 1px solid;
}
hr{
    
    border: 0;
    border-top: 1px solid rgba(0,0,0,.1);
    background-color: rgba(0,0,0,.1);
}